* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    padding: 2rem;
}

.wrapper::after {
    content: "";
    clear: both;
    display: table;
}

header {
    width: 100%;
    height: 5rem;
    background: yellow;
}

aside {
    width: 10rem;
    height: 30rem;
    background: pink;
    float: left;
}

section {
    width: 25rem;
    height: 30rem;
    background: purple;
    float: left;
}

FOOTER {
    width: 100%;
    height: 5rem;
    background: lightblue;
}
